.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 26px 0 0 40px;
  max-width: 484px;
}


.place__paragraph:first-of-type {
 margin-top: 39px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
    margin-left: 32px;
  }
 }

 @media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    margin-left: 28px;
    margin-top: 25px;
  }
 }

 @media screen and (max-width: 1023px) {
  .place__paragraph:first-of-type {
    margin-top: 42px;
   }
 }

 @media screen and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }
 }

 @media screen and (max-width: 767px) {
  .place__paragraph:first-of-type {
    margin-top: 29px;
   }
 }
